<phpunit bootstrap="./phpunit.php">
    <testsuites>
        <testsuite>
            <directory>./src/Micropub/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="REPOSITORY_URL" value="repo"/>
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="1349" />
        <const name="WEB_SERVER_DOCROOT" value="." />
    </php>

    <logging>
        <!--<log type="coverage-xml" target="build/logs/coverage/xml"/>-->
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Micropub/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
